/*------------*/
/* base rules */
/*------------*/
body {
    background-color: Beige;
    text-align: center;
}

input[type=text]
{
    font-family: Georgia;
    font-size: 100.01%;
    line-height: 140%;
    color: #797979;
    width: 200px;
    vertical-align: middle;
}

input[type=submit]
{
    vertical-align: middle;
}

/*--------------*/
/* layout rules */
/*--------------*/
#content {
    width: 480px;
    background-color: beige;
    padding: 5px 10px 10px 10px;
}

#main {
    width: 480px;
    min-height: 0px;
}

#footer {
    max-width: 300px;
    background-color: beige;
    padding: 15px 15px 15px 15px;
}

/*--------------*/
/* module rules */
/*--------------*/
#results {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*-------------*/
/* state rules */
/*-------------*/
/* overwrites site.css */
#simple-user-info {
  padding: 15px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative;
  color: #00529B;
  position: fixed;
  left: 0px;
  top: 140px;
  width: 100%;
  filter: alpha(opacity=95); /* IE */
  -moz-opacity: 0.95; /* Mozilla */
  opacity: 0.95; /* Opera */
}

#simple-user-info.error {
  background-color: yellow;
}