@Styles.Render("~/content/search")
@Scripts.Render("~/bundles/search")
<h1>The Strands - Suche</h1>
<form>
    <input id="searchfield" type="text" title="Suchterme hier eingeben" value=@ViewBag.Searchterm />
    <input id="searchbutton" type="button" value="Suche"></input>
</form>
<div id="results"></div>
<div id="footer" class="smallcomment">
    <p>Search Powered by <a href="http://lucene.apache.org/lucene.net/" target="_blank"><b>Lucene.net</b></a></p>
</div>
@section scripts{
	<script type="text/javascript">
	    var config = { contextPath: '@Url.Content("~")' };
	    var searchterm = @Html.Raw(Json.Encode(@ViewBag.Searchterm));

	    $(function ()
	    {
	        $("#searchbutton").click(function(){
	            Search($("#searchfield").val().replace("*","$")); // needed because '*' is in requestPathInvalidCharacters);
	        });
	        Search(searchterm);
	    });

	    function Search(term)
        {
	        $("#results").html("");
	        $.ajax({
	            url: HostAdress() + '/search-api/' + term,
	            type: "GET",
	            data: null,
	            dataType: "json",
	            success: function (data) {
	                $("#searchfield").val(term.replace("$","*"));
	                $("#results").html($("#resultTemplate").render(data));
	            },
	            error: function (xhr) {
	                _myHelper.showMessage($.parseJSON(xhr.responseText).ExceptionMessage, "error");
	            }
	        });
	    }

	    function HostAdress() {
	        return ((config.contextPath.length > 0) && (config.contextPath.charAt(config.contextPath.length - 1)) == "/") ? config.contextPath.substring(0, config.contextPath.length - 1) : config.contextPath;
	    };

	    function navigateTo (adr){
	        adr = HostAdress() + "/" + adr;
	        if (window.opener.location.href != adr)
	            window.opener.location.href=adr;
	    };
	</script>

    <script id="resultTemplate" type="text/x-jsrender">
        <a onClick="navigateTo('{{>Adress}}');" href="###">{{>Title}}</a>
        <p>{{>Section}}</p>
    </script>
}

